torch --index-url https://download.pytorch.org/whl/cu121
torchvision  --index-url https://download.pytorch.org/whl/cu121
torchaudio  --index-url https://download.pytorch.org/whl/cu121
ultralytics
opencv-python
opencv-python-headless
numpy
matplotlib
opencv-python
